---
layout: default
title: Presentations and conferences - Innovation Lab
---

<div class="home" id="home">
  <h1 class="pageTitle">Presentations and conferences</h1>
  <ul class="posts noList">
      {% for post in site.categories.presentacion %}
      <li>
        <span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
      </li>
      {% endfor %}
  </ul>
</div>