---
layout: default
title: Staff - Innovation Lab
---

<style type="text/css">
.iconDetails {margin-left:1%;float:left;height:160px;width:160px;} 
.container2 {width:100%;height:auto;padding:1%;clear:left;}
h4 {margin:0px;}
</style>

<div class="home" id="home">
  <h1 class="pageTitle">Staff</h1>
  <ul class="posts noList">
      {% for post in site.categories.staff %}
      <li>
        <div class='container2'>
          <div>
            <a href="{{ post.url | prepend: site.baseurl }}">
              <img src='../assets/img/icons/{% if post.icon %}{{post.icon}}{% else %}default.png{% endif %}' class='iconDetails'>
            </a>
          </div>
          <div style='margin-left:170px;'>
            <h4><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
            <div style="font-size:1em">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 96 }}{% endif %}</div>
          </div>
        </div>
      </li>
      {% endfor %}
  </ul>
</div>
